@font-face {
    font-family: 'bebas';
    src: url(../fonts/BEBAS_NEUE_CYRILLIC.TTF);
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(../fonts/MONTSERRAT-BOLD.OTF);
}

@font-face {
    font-family: 'montserrat-medium';
    src: url(../fonts/MONTSERRAT-MEDIUM.OTF);
}